@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #3A8DC7;
    --tertiary-color: #C4B221;
    --secondary-color: #57B960;
    --seere-text: #1E2E3B;
}